{% extends "base.html" %}
{% block title %}Farhad Hossain{% endblock %}

{% block content %}

<main class="container second-layout">
    <!--This id is besically use to scroll on the same page, for nevigation this has no work actually -->
    <section id="about"
             class="about-card container"> <!--global layout class (shared across whole website -->
    <div class="about-content">
        <img src="/static/images/bull.png" class="about-photo" alt="Financial Market"> <!--alt-Alternative-->

        <div class="about-text">
            <h1>About Me</h1>
            <p>
                I’m Farhad Hossain, a graduate student at Hochschule Neu-Ulm, pursuing an MSc in
                Artificial Intelligence and Data Analytics. My background includes a BBA in Finance
                from North South University, where I developed a strong interest in quantitative
                analysis and financial modeling.
            </p>

            <p>
                Today, I focus on exploring how AI can enhance financial strategies, with projects
                ranging from machine-learning-based forecasting to algorithmic insights for markets.
                I enjoy building practical solutions, continuously learning, and applying data science
                to real-world financial challenges.
            </p>
        </div>
    </div>
</section>
</main>

{% endblock %}
