{% extends "base.html" %}
{% block title %}Home - Farhad Hossain {% endblock %}

{% block content %}

<section id="certificates" class=" certificate-wrapper container">

    <div class="certificate-content">
            <h1>
                Awards & Certifications
            </h1>
           <!-- <embed src="/static/certificates/EDA.jpg" width="600" height="800" type="application/pdf"> PDF-->
            <div class="certificate-grid">
                  <img src="/static/certificates/database.jpg" class="cert-img" alt="Certificate 1">
                  <img src="/static/certificates/fin_satat.jpg" class="cert-img" alt="Certificate 2">
                  <img src="/static/certificates/Normalstat.jpg" class="cert-img" alt="Certificate 3">
                  <img src="/static/certificates/powerbi.jpg" class="cert-img" alt="Certificate 4">
                  <img src="/static/certificates/python.jpg" class="cert-img" alt="Certificate 5">
                  <img src="/static/certificates/EDA.jpg" class="cert-img" alt="Certificate 6">
            </div>

        </div>


</section>

{% endblock %}