{% extends "base.html" %}
{% block title %}Home - Farhad Hossain {% endblock %}

{% block content %}

<section id="education" class="hnu-education-wrapper container">
   <div class = edu-content>
       <div class = hnu-description >
        <h1>University of Applied Sciences Neu-Ulm, Germany</h1>
        <p>
            MSc in Artificial Intelligence and Data Analytics
            Currently studying and focused on developing practical skills in machine learning, data analytics,
            and AI-driven decision-making, with a strong emphasis on applying technology to real-world business challenges.
        </p>
       </div>
       <img src="/static/images/HNU.png" class="edu-photo" alt="HNU">    <!--alt-Alternative-->
   </div>

</section>

<section class=" nsu-education-wrapper container">
 <div class=" nsu-content">
        <div class = "nsu-description">
            <h1> BBA in Finance — North South University, Dhaka, Bangladesh</h1>
            <p>
                Developed a strong foundation in financial analysis, investment strategy, and data-driven decision-making,
                supported by hands-on experience in financial modeling and real-world business applications.
            </p>
        </div>
      <img src="/static/images/nsu.png" class="nsu-photo" alt="NSU">
    </div>
</section>














{% endblock %}